<a href="https://colab.research.google.com/github/brunowan45/ProgramacaoModelagemP1Manha/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Map map(função, interavel)
nums = [6, 5, 2, 1, 7]
newList = list(map(lambda x: x*2, nums))
newList

[12, 10, 4, 2, 14]

In [ ]:
frutas = ['banana', 'pera', 'uva', 'caja', 'manga']

In [ ]:
#Recebe uma lista de frutas e 
#Retorna uma lista com a quantidade de cartacteres.

newList = list(map(lambda x: len(x), frutas))
newList

[6, 4, 3, 4, 5]

In [ ]:
#MAP map(função, iteravel)
precos = [9.99, 2.50, 3.45, 7.00, 10.99]

In [ ]:
#Pegar os preços de uma lista
#adicionar 2 a cada um deles
newList = list(map(lambda x: x+2, precos))
newList

[11.99, 4.5, 5.45, 9.0, 12.99]

In [ ]:
notas = [6, 7, 3.5, 9, 6.5]
#quero apenas os aprovados...
aprovados = list(filter(lambda x : x>=7, notas))

aprovados

[7, 9]

In [1]:
tp_frutas = ('maça', 'banana', 'laranja', 'goiaba')
tp_frutas

('maça', 'banana', 'laranja', 'goiaba')

In [17]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas2 = tuple(lst_frutas)

In [18]:
tp_meses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
tp_meses[5:11]

('jun', 'jun', 'jul', 'ago', 'set', 'out')

In [19]:
tp_meses[3:6]

('abr', 'mai', 'jun')

In [20]:
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [21]:
nome_nasc = [('Ze', 2003), ('Maria', 1998), ('Alice', 2000)]
sorted(nome_nasc, key = lambda x: [1])

[('Ze', 2003), ('Maria', 1998), ('Alice', 2000)]

In [24]:
def nome_idade_uf():
  nome = "José"
  idade = 28
  uf = 'RN'
  return nome, idade, uf

nome, age, uf = nome_idade_uf()

print(nome, age, uf)

José 28 RN

In [27]:
alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Kelly', 5.5),
 ('Adauto', 8),
 ('Marceline', 9),
 ('Luana', 7.5),
 ('Henrique', 6.5))

In [29]:
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [30]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}. {bairro}.'

dadosCliente = ('Manoelina', 'Rua das Couves', '42', 'Torre')

print (formatada(dadosCliente))

Nome:Manoelina, residente a Rua das Couves, 42. Torre.